<body>

    <!-- Begin page -->
    <div id="wrapper">

        {{> _navbar }}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">e-contribute</a></li>
                                        <li class="breadcrumb-item active">Group</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{{ name }}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row no-gutters">
                        <div class="col-md-6 col-xl-3">
                            <div class="widget-rounded-circle bg-soft-primary rounded-0 card-box mb-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="avatar-lg rounded-circle bg-soft-primary">
                                            <i class="fe-users font-22 avatar-title text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span data-plugin="counterup">5,000</span></h3>
                                            <p class="text-primary mb-1 text-truncate">Total Participants</p>
                                        </div>
                                    </div>
                                </div> <!-- end row-->
                            </div> <!-- end widget-rounded-circle-->
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="widget-rounded-circle bg-soft-success rounded-0 card-box mb-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="avatar-lg rounded-circle bg-soft-success">
                                            <i class="fe-dollar-sign font-22 avatar-title text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span data-plugin="counterup">3195</span></h3>
                                            <p class="text-success mb-1 text-truncate">Amount</p>
                                        </div>
                                    </div>
                                </div> <!-- end row-->
                            </div> <!-- end widget-rounded-circle-->
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="widget-rounded-circle bg-soft-warning rounded-0 card-box mb-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="avatar-lg rounded-circle bg-soft-warning">
                                            <i class="fe-user-plus font-22 avatar-title text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span data-plugin="counterup">624</span></h3>
                                            <p class="text-warning mb-1 text-truncate">Pending Participants</p>
                                        </div>
                                    </div>
                                </div> <!-- end row-->
                            </div> <!-- end widget-rounded-circle-->
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="widget-rounded-circle bg-soft-danger rounded-0 card-box mb-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="avatar-lg rounded-circle bg-soft-danger">
                                            <i class="fe-trash-2 font-22 avatar-title text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span data-plugin="counterup">128</span></h3>
                                            <p class="text-danger mb-1 text-truncate">Deleted Tickets</p>
                                        </div>
                                    </div>
                                </div> <!-- end row-->
                            </div> <!-- end widget-rounded-circle-->
                        </div> <!-- end col-->
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <button type="button" class="btn btn-sm btn-dark waves-effect waves-light float-right" 
                                data-toggle="modal" data-target="#con-close-modal">
                                    <i class="mdi mdi-plus-circle"></i> Add Participants
                                </button>
                                <h4 class="header-title mb-4">Manage Participants</h4>

                                <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100"
                                    id="tickets-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>Requested By</th>
                                            <th>Subject</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Created Date</th>
                                            <th>Due Date</th>
                                            <th class="hidden-sm">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        {{#each groups}}

                                        <tr>
                                            <td><b>#1256</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-2.jpg" alt="contact-img"
                                                        title="contact-img" class="rounded-circle avatar-xs" />
                                                    <span class="ml-2">George A. Llanes</span>
                                                </a>
                                            </td>

                                            <td>
                                                Support for theme
                                            </td>

                                            <td>
                                                <span class="badge badge-light-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);"
                                                        class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm"
                                                        data-toggle="dropdown" aria-expanded="false"><i
                                                            class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit
                                                            Ticket</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark
                                                            as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                            
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

            <!--======= ADD USERS MODAL =========-->
                <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Participants</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-3" class="control-label">Email Address</label>
                                            <input type="text" class="form-control" id="field-3" placeholder="Enter email address" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="buuton" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal -->
            <!--=======/ END MODAL ========-->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2019 &copy; Xeria theme by <a href="#">Coderthemes</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    {{> _sidebar-rigth }}

    <!-- Vendor js -->
    <script src="assets/js/vendor.min.js"></script>

    <!-- third party js -->
    <script src="assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Tickets js -->
    <script src="assets/js/pages/tickets.js"></script>

    <!-- App js -->
    <script src="assets/js/app.min.js"></script>